<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bandhook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".model.Expert8Activity" />
        <activity android:name=".model.Expert7Activity" />
        <activity android:name=".model.Expert6Activity" />
        <activity android:name=".model.Expert5Activity" />
        <activity android:name=".model.Expert4Activity" />
        <activity android:name=".model.Expert3Activity" />
        <activity android:name=".model.Expret2Activity" />
        <activity android:name=".model.NapolyonActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>